:host {
  position: fixed;
  right: 1.2rem;
  bottom: 1.2rem;
  z-index: 40;
  max-height: calc(100vh - 4rem);
  overflow: auto;
}

:host(.hidden) {
  display: none;
}

@media (max-width: 1100px) {
  :host {
    position: static;
    margin: 0 auto;
  }
}
